<div class="row">
  <% capsules.each do |capsule| %>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3><%= capsule.title %></h3>
        <p><%= capsule.sendDate %></p>
      </div>
  <% end %>
</div>